@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-orange1: #FF5616;
  --color-orange2: #F26E25;
  --color-orange3peach: #FFF5EF;
  --color-blue-navy: #1801AE;
  --color-lila: #CFC9F4;
  --color-blue-grey: #6B63A0;
  --color-blue-grey2: #47456E;
}

@theme inline {
  --color-background: var(--background);
  --font-sans: var(--font-urbanist);
}

body {
  background: var(--background);
  font-family: var(--font-urbanist), sans-serif;
}
